.oswald-<uniquifier> {
           font-family: "Oswald", sans-serif;
           font-optical-sizing: auto;
           font-weight: 500;
           font-style: normal;
         }

body {
  font-family: "Oswald", sans-serif;
}

.editable-cell {
  position: relative;
  min-height: 38px;
  padding: 8px !important;
}

.editable-cell:empty::before {
  content: attr(data-placeholder);
  color: #6c757d;
  opacity: 0.7;
  position: absolute;
  pointer-events: none;
}

.editable-cell:focus {
  outline: none;
}